/* Reset some default browser styles */
body, h1, h2, p, button, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Doubled the padding for more space inside */
    width: 600px; /* Doubled the width for a larger box */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better spacing */
}

.form-group input {
    width: 100%;
    padding: 16px; /* Doubled the padding for larger input fields */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: #3498db;
    color: #fff;
    padding: 20px 40px; /* Doubled the padding for a larger button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #2980b9;
}
